<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/8b20537db2.js" crossorigin="anonymous"></script>

</head>
<body>

    <h1>Lista de Usuarios</h1>

    <!-- Input para el buscador -->
    <input type="text" id="search" placeholder="Buscar por nombre, email o ciudad...">


  <!-- Tabla de usuarios -->

<!--
  <table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Ciudad</th>
        </tr>
    </thead>
    <tbody id="userTable">
        <%  //users.forEach(user => { %>
            <tr>
                <td><%= // user.name %></td>
                <td><%= // user.email %></td>
                <td><%= // user.address.city %></td>
            </tr>
        <% //}) %>
    </tbody>
</table>

</body>
</html>

-->